.profile__edit {
  width: 10px;
  height: 10px;
}

@media screen and (max-width: 600px) {
  .profile__edit {
    padding: 5px;
  }
}  

@media screen and (max-width: 600px) {
  .profile__edit {
    width: 7px;
    height: 7px;
  }
} 