.profile__avatar {
  width: 120px;
  height: 120px;
  margin-right: 32px;
  box-sizing: border-box;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.5s ease;
  position: relative;
}

.profile__avatar:hover {
  opacity: 0.2;
}

@media screen and (max-width: 750px) {
  .profile__avatar {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
}

