.popup__input {
  border: none;
  border-bottom: 1px solid #C4C4C4;
  width: 350px;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 35px;
}

@media screen and (max-width: 700px) {
  .popup__input {
    width: 230px;
  }
}